<h3>Add a Track</h3>
<hr>
<form action="<%=tracks_url%>" method="POST">
	
<%= render partial: 'form', locals: { albums: @albums, album: @album, track: @track} %>
</form>
<%= button_to "back to index", bands_url, method: :get %>